<div class="row">
	<div class="col-md-2">
			<img src="img/profilepic.jpg" width="150px" height="150px" class="picborder">
	</div>
	<div class="col-md-10 leftBorder">
		<h3 class="app-heading-bg">PROFILE</h3>
		<p class="paddingL5">Having about 8 Plus years of experience in UI Development. Leading and managing projects on the Technical front since 3 years. Also experienced in handling UK & US client interactions & demonstrations.</p>
		<h3 class="app-heading-bg">PROFESSIONAL STRENGTHS</h3>
		<ul >
			<li>Have experience in coding using Object Oriented JavaScript, Knockout.js, Backbone.js, require.js & JQuery Frameworks.</li>
			<li>Having expertise in HTML5, CSS2 & CSS3</li>
			<li>Have experience in Web Analytics ( Omniture Site catalyst )</li>	
			<li>Having experience in Adobe CQ5 and Documentum.</li>
			<li>Exceptional debugging skills using different tools like Firebug, Chrome and IE developer tool.</li>
			<li>Experience in optimization techniques like CSS sprites and minification.</li>	
			<li>Validated XHTML and CSS code using W3C Validators and thoroughly unit tested.</li>	
			<li>Responding to tight deadlines by delivering the given tasks within the specified timeframes</li>	
			<li>Ability to work both independently and in a team environment</li>	
		</ul>
		<h3 class="app-heading-bg">CERTIFICATIONS</h3>
		<p class="paddingL5">Certified Scrum Master – by <a href="http://www.scrumalliance.org/" target="_blank">ScrumAlliance</a></p>
		<h3 class="app-heading-bg">VISA HELD</h3>
		<p class="paddingL5">UK TIER 2 ICT LONG TERM STAFF PARTNER Valid till Jan - 2018</p>
		<h3 class="app-heading-bg">TECHNICAL QUALIFICATIONS</h3>
		<table class="table table-bordered table-striped">
			<tr>
				<td>JavaScript Frameworks</td>
				<td>Angular.js, Knockout.js, Backbone.js, Require.js, Handlebars.js, JQuery</td>
			</tr>
			<tr>
				<td>CSS Frameworks</td>
				<td>Boostrap3, LESS</td>
			</tr>
			<tr>
				<td>Debugging Tools</td>
				<td>Firebug, Chrome Developer Tool, Fiddler</td>
			</tr>
			<tr>
				<td>Design/Productivity Tools</td>
				<td>Visual Studio, Aptana Studio, Adobe Photoshop</td>
			</tr>
			<tr>
				<td>Web Technologies</td>
				<td>JavaScript, PHP, XML, HTML5, DHTML, CSS2 & CSS3,Action Script 3.0, JSON, AJAX, ASP.Net MVC, SPA</td>
			</tr>
			<tr>
				<td>Content Management System</td>
				<td>Adobe CQ5(day), Documentum 6.5</td>
			</tr>
			<tr>
				<td>Programming/Database Languages</td>
				<td>C, C++, ASP.Net, VB.Net, SQL, JSP</td>
			</tr>
			<tr>
				<td>Web/ Application Servers</td>
				<td>Tomcat 6.0/7.0, IIS</td>
			</tr>
			<tr>
				<td>Integration Tools</td>
				<td>Subversion, WinSCP, WinMerge, Visual Source safe, TFS</td>
			</tr>
		</table>
		
	</div>
</div>