<div class="row" style="padding:10px 0">
<!-- 	<div class="col-md-7">
		<banner width="100%" height="200px">
        <slide ng-repeat="slide in slides">
          <a href="#">
            <img ng-src="{{slide.imageurl}}" alt=""></a>
        </slide>
    </banner>
	</div> -->
<!--   <div class="col-md-5">
      <h2>Hello, I'm Veeresh this is my personal site.I'm a Front-End Developer, an entrepreneur </h2>
      
      <button type="button" class="btn btn-primary center-block">View Profile</button>
  </div> -->
  <div class="bannerHolder">
      <banner>
        <slide ng-repeat="slide in slides">
          <h1>{{slide.heading}}</h1>
          <p>{{slide.txt}}</p>
        </slide>
      </banner>
      <!-- <button type="button" ng-click="viewRecentWorks()" class="btn btn-lg btn-primary">View Recent Works </button> -->
      <a href="#/portfolio" class="btn btn-primary btn-lg active" role="button">View Recent Works </a>
  </div>
</div>

<div class="row">
 
          <div class="col-md-4">
            <div class="center briefInfo"> <a href="#">
              <h4><span class="glyphicon glyphicon-user"></span>Who am I</h4>
              </a>
              
              <p>I am a Lead UI developer having experience of more than 8 years in development of Web applications, Mobile applications & Web sites using Object-oriented technologies and evolving frameworks. I have the ability to work both independently and in a team environment. 
              </p>
              <p>
                I am a Certified Scrum Master from Scrum Alliance. Also experienced in interacting with clients based in UK and US - Requirement specifications, Envisioning, Status meetings and Product demonstrations.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="center briefInfo"><a href="#">
              <h4><span class="glyphicon glyphicon-road"></span>What did I do recently</h4>
              </a>
              <!-- <h5>eros integer risus massa</h5> -->
              <ul>
              <li>Worked as a Lead UI Developer in developing Single page, Web, Mobile applications using Object-oriented JavaScript, jQuery, Angular.js, Knockout.js, HTML5, CSS3 & Bootstrap 3, LESS frameworks. </li>
              <li>Worked in Agile methodology.</li>
              <li>Worked on Web Analytics using Adobe Site Catalyst.</li>
              <li>Handled Mobile, Tablet, Desktop & Cross browser compatible development.</li>
              <li>Developed UI using ASP.net MVC3.</li>
<!--               <li>Handled Code reviews using TFS, Subversion.</li>
              <li>Provided UI effort estimates and lead the project.</li>
              <li>Trained my team on Object Oriented JavaScript, Bootstrap, Less.</li>
              <li>Interviewed UI Developers at Deloitte.</li> -->
              </ul>
            </div>
          </div>
          <div class="col-md-4">
              <div class="center briefInfo">  
                <a href="#">
                <h4><span class="glyphicon glyphicon-th-list"></span>Positions at Work</h4>
                </a>
                <div><strong>Current:</strong>
                <p>Working as UI Developer, Freelance</p>
                </div>
                <p><strong>Previous:</strong></p>
                <!-- <div> -->
                  
                  <ul>
                    <li>Worked as Lead UI Developer at Deloitte</li>
                    <li>Worked as Senior UI Developer at IVY Comptect Pvt Ltd</li>
                    <li>Worked as UI Developer at Ram Informatics Ltd</li>
                    <li>Worked as UI Developer at 9 Technologies</li>
                  </ul>

                <!-- </div> -->
              </div>
          </div>  
    </div>

   
        </div>